.notification-message {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--main-font-color);
  padding: 15px;
  background-color: var(--dark-container);
  color: var(--main-font-color);
  font-size: 20px;
  text-align: center;
}
